.root {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  :global {
    .selected {
      box-shadow: inset 1px 1px 10px -1px;
      background-color: #274C5B;

      a {
        color: white;
      }
      &:hover {
        background-color: #274C5B;
       }
    }

  }
  li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid  #7EB693;
    border-radius: 30px;
    margin: 4px;
    cursor: pointer;
    
    &:hover {
      background-color: #F3F3F3;
      border-radius: 35px;
      }
    &:active {
      
      background-color: #274C5B;
    }

    &:not(:first-child ) {
      width: 45px;
      height: 45px;
    }
    &:nth-last-child(1){
      min-width: 100px;
    }
}
}